<!DOCTYPE html>
<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- ROS stuff -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/easeljs/lib/easeljs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ros2d/build/ros2d.min.js"></script>
    <!-- 3D visualization -->
    <script src="./libs/three.min.js"></script>
    <script src="./libs/ColladaLoader.js"></script>
    <script src="./libs/ColladaLoader2.js"></script>
    <script src="./libs/STLLoader.js"></script>
    <script src="./libs/ros3d.min.js"></script>
    <!-- Camera -->
    <script type="text/javascript" src="mjpegcanvas.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <style>
        #dragstartzone {
            position: relative;
            display: inline-block;
            width: 200px;
            height: 200px;
            border: 1px solid #333;
            border-radius: 50%;
            margin-top: 10px;
        }

        #dragCircle {
            position: absolute;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            display: none;
        }

        #dragCircle:hover {
            background-color: lightcoral;
        }
    </style>
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <div class="col-3 text-center">
                <div class="card mt-2">
                    <div class="card-body">
                        <h3>Connection status</h3>
                        <p class="text-danger" v-if="!connected">Not connected!</p>
                        <p class="text-success" v-if="connected">Connected!</p>
                        <label>ROSBridge address</label>
                        <br>
                        <input type="text" v-model="rosbridge_address" />
                        <br><br>
                        <button :disabled="loading" class="btn btn-danger" @click="disconnect"
                            v-if="connected">Disconnect!</button>
                        <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h4>Logs</h4>
                    </div>
                    <div class="card-body">
                        <p v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <h3>Controls</h3>
                <div class="row">
                    <div class="col-4">
                        <div class="card mt-2" style="width:440px; height: 400px;">
                            <div class="card-header">
                                <h4>Robot model</h4>
                            </div>
                            <div class="card-body">
                                <div id="div3DViewer"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 ml-3">
                        <div class="card mt-2" style="width:460px; height: 500px;">
                            <div class="card-header">
                                <h4>Generated Map</h4>
                            </div>
                            <div class="card-body">
                                <div id="map" style="width: 400px; height: 360px; border: 1px solid #ccc;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h4>Camera</h4>
                            </div>
                            <div class="card-body">
                                <div id="divCamera"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h5>Action client data</h5>
                        <div>
                            <label for="goalList">Select a Goal:</label>
                            <select id="goalList" class="form-control mb-3" v-model="selectedGoal">
                                <option v-for="(goal, index) in goals" :key="index" :value="goal">
                                    Goal {{ index + 1 }}: X={{ goal.position.x }}, Y={{ goal.position.y }}
                                </option>
                            </select>
                            <button class="btn btn-success mr-2" @click="sendGoal" :disabled="!connected">Send
                                Goal</button>
                            <button class="btn btn-danger" @click="cancelGoal" :disabled="!goal">Cancel Goal</button>
                        </div>
                        <hr />
                        <div>
                            <label class="text-muted">Feedback</label>
                            <p>Position: {{ action.feedback.position }}</p>
                            <p>State: {{ action.feedback.state }}</p>
                        </div>
                        <hr />
                        <div>
                            <label class="text-muted">Result</label>
                            <p>Succeeded? {{ action.result.success }}</p>
                        </div>
                        <hr />
                        <div>
                            <label class="text-muted">Status</label>
                            <p>{{ action.status.text }}</p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Joystick</h4>
                                </div>
                                <div class="card-body text-center">
                                    <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">
                                        <div id="dragCircle" :style="dragCircleStyle"></div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // Load main.js dynamically to avoid cache issues
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'main.js?v=9.' + Date.now();
            document.head.appendChild(script);
        </script>
</body>

</html>